{% extends 'base.html' %}

{% load static %}

{% block estilera %}
  
  <link rel="stylesheet" type="text/css" href="{% static "card.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "autor.css" %}">
{% endblock %}

{% block titulo %}
    <title>Autores</title>
{% endblock %}


{% block conteudo %}

<div class="card-deck d-flex">
  <div class="row">

    {% for autor in object_list %}
    
        <div class="col" style="width:18rem;">
            <div class="card border-light">
                <img class="card-img-top img-fluid " src="{{ autor.imagem.url}}" alt="Imagem do autor">
                <div class="card-header">{{ autor.primeiroNome}}</div>
                <div class="card-body">
                    <p class="card-text content">{{ autor.sobrenome}}</p>
                    <button type="button" class="btn btn-light" style="color:black"><a class="bi bi-pen-fill" href="{% url 'editar_autor' autor.id %}"> Editar</a></button>
                    <button type="button" class="btn btn-dark"><a class="bi bi-trash" href="{% url 'deletar_autor' autor.id %}"> Excluir</a></button>
                </div>
            </div>
        </div>
    
    {% empty %}
        <h2>Não há autores registrados</h2>

    {% endfor %}
</div>

<button type="button" class="btn btn-dark btn-criar mt-1 mr-5"><a href="{% url 'criar_autor' %}"> Criar</a></button>
</div>

{% endblock %}